<!doctype html>
<html>
<!-- “An orange sun might have been descending over ruthless waters, but John and Lewis couldn’t have known, for they were involved in an obsession.  Each had his own reason: one sought power, the other sought a lost companion.  But both men were hopeless.”-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;">
    <meta name="description" content="Who is Josiah Swanson?">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://josiahswanson.com/css/foundation.css">
    <link rel="stylesheet" href="https://josiahswanson.com/css/base.css">
    <link rel="stylesheet" href="https://josiahswanson.com/css/main.css">
    <script src="https://josiahswanson.com/js/hej.js"></script>
    <title>Josiah Swanson - Astronomy</title>
</head>
<header>
    <a href="https://josiahswanson.com/index"><img
            src="https://www.morro-bay.ca.us/ImageRepository/Document?documentID=9062" alt="Josiah Swanson Header"></a>
    <nav>
        <ul>
            <li><a class="navitem" href="/">index</a></li>
            <li><a class="navitem selectedlink" href="/astronomy">astronomy</a></li>
            <li><a class="navitem" href="/photo">photo</a></li>
            <li><a class="navitem" href="/weather">weather</a></li>
            <li><a class="navitem" href="/surf">surf</a></li>
            <li><a class="navitem" href="/calculator">calculator</a></li>
        </ul>
    </nav>
</header>
<form action="/astronomy" method="post">
    <input type="submit" value="Get Moon Phase">
</form>
<% if (astronomy !== null) { %>
    <p class='centeredp'><u><%- astronomy %></u></p>
    <% } %>
    
    <% if (error !== null) { %>
    <p class='centeredp'><%= error %></p>
    <% } %>
<footer>
    <p class="centeredp">&copy;Josiah 2020 All Rights Reserved</p>
</footer>
</body>

</html>
