<!doctype html>
<html>
<!-- “An orange sun might have been descending over ruthless waters, but John and Lewis couldn’t have known, for they were involved in an obsession.  Each had his own reason: one sought power, the other sought a lost companion.  But both men were hopeless.”-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;">
    <meta name="description" content="Who is Josiah Swanson?">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="http://josiahswanson.com/css/foundation.css">
    <link rel="stylesheet" href="http://josiahswanson.com/css/base.css">
    <link rel="stylesheet" href="http://josiahswanson.com/css/main.css">
    <script src="http://josiahswanson.com/js/hej.js"></script>
    <title>Josiah Swanson - Photo</title>
</head>

<body onload="showImage()">
    <header>
        <a href="http://josiahswanson.com/index"><img
                src="https://www.morro-bay.ca.us/ImageRepository/Document?documentID=9062"
                alt="Josiah Swanson Header"></a>
        <nav>
            <ul>
                <li><a class="navitem" href="/">index</a></li>
                <li><a class="navitem selectedlink" href="/photo">photo</a></li>
                <li><a class="navitem" href="/weather">weather</a></li>
                <li><a class="navitem" href="/surf">surf</a></li>
                <li><a class="navitem" href="/calculator">calculator</a></li>
            </ul>
        </nav>
    </header>
    <img src="http://josiahswanson.com/img/001.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/005.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/009.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/011.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/015.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/029.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/031.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/053.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/055.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/059.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/061.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/066.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/069.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/072.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/079.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/081.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/084.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/088.jpg" class="secretImage" style="display: none;">
    <img src="http://josiahswanson.com/img/096.jpg" class="secretImage" style="display: none;">
    <footer>
        <p class="centeredp">&copy;Josiah Swanson 2020 All Rights Reserved</p>
    </footer>
</body>

</html>